extends layout
block content
	.container.visible-lg-block.visible-md-block
		.row
			#carousel-example-generic.carousel.slide(data-ride='carousel')				
				ol.carousel-indicators
					li.active(data-target='#carousel-example-generic', data-slide-to='0')				
				.carousel-inner(role='listbox')
					.item.active
						img(src='/images/banner/banner-teepak.jpg', alt='...')
		.row
			.accommodations.col-lg-12.col-md-12				
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak01.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak02.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak03.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak04.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak05.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak06.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak07.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak08.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak09.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak10.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak11.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak12.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak13.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak14.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak15.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak16.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak17.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak18.jpg")
				.row
					img.col-lg-6(src="/images/accommodations/IconTeepak19.jpg")
					img.col-lg-6(src="/images/accommodations/IconTeepak20.jpg")