doctype html
html
  head
    title The Bright   
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    //- link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .container
        .row
            h1 รอการติดต่อกลับจากเจ้าของ รร.กวดวิชา TheBright
            h2 กรุณาติดต่อผมด่วนนะครับภายในวันนี้ 5 สิงหาคม 2558
    //- script(type="text/javascript" src="/javascripts/mobile.js")
    
