extends layout

block content
	.container-fluid.visible-sm-block			
		.courses
			.row
				img.col-lg-12.col-md-12(src="/images/banner/banner1.jpg")			
			.row
				img.col-lg-12.col-md-12(src="/images/banner/banner2.jpg")
			.row
				img.col-lg-12.col-md-12(src="/images/banner/banner-m4.png")
			.row
				img.col-lg-12.col-md-12(src="/images/banner/banner-m5.png")
	.container.visible-lg-block.visible-md-block
		.courses
			.row
				a(href="/expo"): img.col-lg-12.col-md-12(src="/images/banner/banner1.jpg")			
			.row
				a(href="/coachme"): img.col-lg-12.col-md-12(src="/images/banner/banner2.jpg")
			.row
				a(href="/form/register"): img.col-lg-12.col-md-12(src="/images/banner/banner-m4.png")
			.row
				a(href="/form/register"): img.col-lg-12.col-md-12(src="/images/banner/banner-m5.png")