extends layout
block content 
	.container.visible-lg-block.visible-md-block
		.row
			#expo.col-lg-12.col-md-12
				.row
					img.col-lg-12.col-md-12(src="/images/expo/expo-detail.jpg")
				.row
					img.col-lg-12.col.md-12(src="/images/expo/expo-program.png")				
				.row
					img.col-lg-12.col-md-12(src="/images/expo/expo-apply.jpg")
				.row
					a(href="/thebright-expo"): .special-event.col-lg-12.col-sm-12				
				.row
					a(href="/form/register"): img.col-lg-4(src="/images/expo/icon-apply.png")
					a(href="/pdf/expo-pay.pdf"): img.col-lg-4(src="/images/expo/icon-print.png")
					a(href="/form/payment"): img.col-lg-4(src="/images/expo/icon-transfer.png")
				.row
					a(href="/expo-faq"): img.col-lg-4(src="/images/expo/icon-faq.png")
					a(href="/expo-lists"): img.col-lg-4(src="/images/expo/icon-expo-lists.png")
					a(href="/accommodations"): img.col-lg-4(src="/images/expo/icon-teepak.png")					
					
