extends layout
block content
	.container-fluid.visible-sm-block
		.row
			a(href="/form/register"): .how-to.col-sm-12
	.container.visible-lg-block.visible-md-block
		.row
			a(href="/form/register"): img(src="/images/how-to-apply.jpg").how-to.col-lg-12