extends layout

block content
	.container
		.row
			a(href="/brochure"): #banner.col-lg-12.col-sm-12
		.row
			.shotcuts
				.s-item.col-md-3.col-sm-12
					a(href='/form/register'): img(src='/images/shotcuts/booking.jpg')
					a(href='#'): img(src='/images/shotcuts/expo.jpg')
				.s-item.col-md-3.col-sm-12
					a(href='/form/payment'): img(src='/images/shotcuts/transfer.jpg')
					a(href='#'): img(src='/images/shotcuts/camp.jpg')
				.s-item.col-md-3.col-sm-12
					a(href='#'): img(src='/images/shotcuts/download.jpg')
					a(href='#'): img(src='/images/shotcuts/coachme.jpg')
				.s-item.col-md-3.col-sm-12
					a(href='#'): img(src='/images/shotcuts/private.jpg')
					a(href='/brochure'): img(src='/images/shotcuts/brochure.jpg')
				
					