extends layout

block content
	.container
		.row
			#banner.col-md-12.col-sm-12
		.row
			.shotcuts
				.s-item.col-md-6.col-sm-12.text-center
					i.fa.fa-graduation-cap.fa-4x
					h3 สมัครเรียนผ่านระบบออนไลน์
				.s-item.col-md-6.col-sm-12.text-center
					i.fa.fa-money.fa-4x
					h3 แจ้งชำระเงินผ่านเว็บไซต์

				.s-item.col-md-6.col-sm-12.text-center
					i.fa.fa-futbol-o.fa-4x
					h3 ระบบ Coach-Me
				.s-item.col-md-6.col-sm-12.text-center
					i.fa.fa-file-pdf-o.fa-4x
					h3 โบว์ชัวคอร์สเรียน

