doctype html
html
  head
    title The Bright   
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body(style="padding-top:0")
     a(href="/home"): #landing.col-lg-12.col-sm-12