doctype html
html
  head
    title The Bright   
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .container
      .row        
        a(href="/home"): #logo.col-md-5
        .col-md-1                  
        #social.col-md-6.text-right       	
          a(href="#"): i.fa.fa-facebook-official.fa-4x.fa-fw
          a(href="#"): i.fa.fa-youtube-square.fa-4x.fa-fw
          a(href="#"): i.fa.fa-instagram.fa-4x.fa-fw          
          br
          a(href="/form/register"): button(type="button").btn.btn-success สมัครเรียน       
      .row
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                     button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                     span.sr-only Toggle navigation
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                         #bs-example-navbar-collapse-1.collapse.navbar-collapse
                             ul#topbar.nav.navbar-nav.text-right
                                 li.active
                                     a(href='/home')
                                         | หน้าแรก                                        
                                         span.sr-only (current)
                                  li.dropdown
                                     a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expended='false')
                                         | เกี่ยวกับเรา
                                         span.caret
                                      ul.dropdown-menu(role='menu')
                                        li
                                          a(href="/about/knows") รู้จักกับเดอะไบร์ท
                                        li
                                          a(href="/about/why") ทำไมต้องเดอะไบร์ท
                                   li
                                     a(href="#")
                                      | ทีมเดอะไบร์ท
                                   li
                                     a(href="#")
                                      | เด็กเก่ง
                                   li
                                     a(href="/brochure")
                                      | คอร์สเรียน
                                   li
                                     a(href="#")
                                      | ภาพประทับใจ
                                   li
                                     a(href="/form/register")
                                      | สมัครเรียน
                                   li
                                     a(href="/form/payment")
                                      | แจ้งชำระเงิน
                                   li
                                     a(href="#")
                                      | ติอต่อเรา 



    block content

    .container-fluid
         .row
             .footer
               h1 TheBright.in.th
               p footer menu and link
    script(src="/bower_components/jquery/dist/jquery.min.js")          
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="/bower_components/moment/min/moment.min.js")
    script(type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
    script(type='text/javascript').
      $(document).ready(function(){
          $('#datetimepicker1').datetimepicker({
              format: "DD/MM/YYYY",
              viewMode: 'years'
            });
          $('#datetimepicker2').datetimepicker();

          $('.fa-calendar').click(function(){
              $('#datetimepicker1').trigger("focus");
              $('#datetimepicker2').trigger("focus");
            });
        });