extends layout
block content
  .container
    .row
      #paid-complete
        h2 ขอบคุณคะ
        p การแจ้งโอนชำระเงินของนักเรียนได้เสร็จสมบูรณ์แล้ว นักเรียนสามารถตรวจสอบรายชื่อได้ทางเวบไซต์ได้ทุกวันศุกร์คะ เพื่อตรวจสอบโซนที่นั่ง และสามารถปรินท์ SmartPass เข้างานได้ตั้งแต่วันเสาร์ที่ 25 กรกฎาคม เป็นต้นไป ขอบคุณคะ
        a(href="/expo-lists") 
          h3 ตรวจสอบรายชื่อ
        a(href="/index") กลับหน้าแรก
