extends layout
block content 
	.container
		.row
			.payment-form.col-lg-12.col-sm-12
				h2 แจ้งการชำระเงิน
				hr
				form#payment_form(method="post" action='')
					.form-group
						label รหัสการสั่งซื้อสินค้า
						input.form-control(type="text" name="order_id")
					.form-group
						label ช่องทางการชำระเงิน
						select.form-control(name="channel")
							option(value="transfer") โอนเงิน
							option(value="Paypal") Paypal
					.form-group
						label วันเวลาที่ชำระเงิน
							input#datetimepicker2.form-control(type="text" name="paid_datetime")
						i.fa.fa-calendar.fa-2x
					.form-group
						label จำนวนเงิน (THB)
						input.form-control(type="number" name="amount")
					.form-group
						label หลักฐานการโอนเงิน
						input.form-control(type="file" name="transfer_slip" accept="image/*, .pdf")
					h2 รายละเอียดผู้แจ้ง
					hr
					.form-group
						label ชื่อ-นามสกุล
						input.form-control(type="text" name="fullname")
					.form-group
						label อีเมลล์
						input.form-control(type="email" name="email")
					.form-group
						label เบอร์โทรศัพท์
						input.form-control(type="text" name="tel")
					.form-group
						label รายละเอียดเพิ่มเติม
						textarea.form-control(type="text" name="detail" rows="4" cols="50")					
					button.btn.btn-success.pull-right(type='submit' form='payment_form') ส่งหลักฐานการชำระเงิน

