extends m-layout
block content
  .container-fluid
    .row
      #register.col-sm-12.col-md-12
        h1 
          .head-white.text-lg ขอบคุณคะ
        br
        p การแจ้งโอนชำระเงินของนักเรียนได้เสร็จสมบูรณ์แล้ว นักเรียนสามารถตรวจสอบรายชื่อได้ทางเวบไซต์ได้ทุกวันศุกร์คะ เพื่อตรวจสอบโซนที่นั่ง และสามารถปรินท์ SmartPass เข้างานได้ตั้งแต่วันเสาร์ที่ 25 กรกฎาคม เป็นต้นไป ขอบคุณคะ
