extends m-layout
block content
	.container-fulid
		.row
			img.col-sm-12(src="/images/events/event1.jpg")
		.row
			#title.block.col-sm-12
				h1
					.head-white.text-lg สถาบันกวดวิชาเดอะไบร์ท
				br
				h1
					.head-white THE BRIGHT EDUCATION EXPO 2015 HATYAI
				br
				p มหกรรมการศึกษาครั้งใหญ่ในภาคใต้ จัดเต็ม ติวครบ 9 วิชาสามัญ GAT PAT และแนะแนวการศึกษาครบ มางานเดียวคุ้ม น้องๆ ม.4 ม.5 ม.6 ไม่ควรพลาด	
		.row
			#whyTheBright.block.col-sm-12
				h1 ทำไมต้องเรียนเดอะไบร์ท?
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon1.png")
						p.text-center 
							b.head-text ผู้นำการติวอบรมระดับประเทศ
						p.text-center.body-text The Bright เป็นผู้นำในการติวเพิ่มพูนความรู้ให้โครงการต่างๆในโรงเรียนกว่า 400 โรงเรียนทั่วประเทศ รวมถึงองค์กรชั้นนำระดับประเทศ
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon2.png")
						p.text-center
							b.head-text รวบรวมติวเตอร์มืออาชีพระดับเกียรตินิยม
						p.text-center.body-text The Bright เป็นสถาบันกวดวิชาที่รวบรวมทีมติวเตอร์ระดับมืออาชีพที่ได้รับการยอมรับอย่างกว้างขวางในทุกสาขาวิชา และทุกวิชาความถนัด
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon3.png")
						p.text-center 
							b.head-text กวดวิชาสอนสดอันดับ 1
						p.text-center.body-text กวดวิชาสอนสดอันดับ 1 ในใจเด็กสอบตรงและเตรียมแอดมิชชั่น ทุกความมุ่งมั่น คือ การสร้างทุกอนาคตบนพื้นฐานสู่ความสำเร็จจริงไม่ใช่จากความฝัน
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon4.png")
						p.text-center 
							b.head-text ติดจริงรอบสอบตรงและแอดมิชชั่นมากสุด
						p.text-center.body-text The Bright สามารถส่งเด็กเข้าเรียนในระดับอุดมศึกษาในรอบสอบตรงและรอบแอดมิชชั่น ได้มากที่สุดใน 10 อันดับของประเทศ 6 ปีซ้อน
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon5.png")
						p.text-center 
							b.head-text ฝึกฝนให้พร้อมสู่โลกแห่งการแข่งขัน
						p.text-center.body-text พร้อมสู่โลกแห่งการแข่งขัน นักเรียนจะได้ฝึกฝนและเข้าใจถึงกระบวนคิดวิเคราะห์ และได้ฝึกฝนแนวข้อสอบจริงอย่างต่อเนื่อง รวมถึงการทำ Lab เสมือนจริง เพื่อเตรียมพร้อมสู่การเรียนรู้นอกห้องเรียนต่อไปในอนาคต
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/why-icons/why-icon6.png")
						p.text-center 
							b.head-text เราสร้างหลักความคิด และแรงจูงใจ
						p.text-center.body-text เราไม่เพียงแต่สอนในเนื้อหา เรายังสอนหลักความคิด สร้างแรงจูงใจ เพื่อให้น้องได้ประสบความสำเร็จในชีวิต รวมถึงมิตรภาพระหว่างผู้สอนกับน้องๆ ในทุกรุ่นที่ผ่านมา ทำให้น้องๆที่เรียนให้ความรักกับ The Bright และพร้อมที่จะบอกต่อ แก่รุ่นต่อๆไป
				.row
					a.col-sm-6(href="/mobile/expo-detail"): button(type="button").btn.btn-lg.btn-my รายละเอียด
					a.col-sm-6(href="/mobile/expo-apply"): button(type="button").btn.btn-lg.btn-my วิธีการสมัคร
					a.col-sm-6(href="/mobile/expo-faq"): button(type="button").btn.btn-lg.btn-my ถาม-ตอบ
					a.col-sm-6(href="/pdf/expo-pay.pdf"): button(type="button").btn.btn-lg.btn-my ใบชำระเงิน
					a.col-sm-6(href="/mobile/m-paid"): button(type="button").btn.btn-lg.btn-my แจ้งชำระเงิน
					a.col-sm-6(href="/images/stage.png"): button(type="button").btn.btn-lg.btn-my ตรวจสอบที่นั่ง
					a.col-sm-6(href="/mobile/m-expo-list"): button(type="button").btn.btn-lg.btn-my TheBright ID
					a.col-sm-6(href="/mobile/m-searchsmp"): button(type="button").btn.btn-lg.btn-my SmartPass
					
		.row
			#activity.block.col-sm-12
				h1 กิจกรรมสุดเข้มภายในงาน
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon1.png")
						p.text-center 
							b.head-text ติวเข้ม GAT / PAT / 9 วิชาสามัญ
						p.text-center.body-text มาติวทั้งทีต้อง คุ้ม ครบ เข้ม สรุปครบ วิเคราะห์เข้ม พร้อมเทคนิค คิดลัด คิดเร็ว เตรียมพร้อมสู่การสอบครั้งสำคัญในชีวิตโดยติวเตอร์ชื่อดังระดับประเทศ เสริมทัพรับ AEC
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon2.png")
						p.text-center
							b.head-text บูธแนะแนวจากมหาวิทยาลัยชั้นนำทั้งจากรัฐบาลและเอกชน
						p.text-center.body-text รับข้อมูลจากหลากหลายผู้เชี่ยวชาญชั้นนำโดยมหาวิทยาลัยชั้นนำทั้งจากรัฐบาลและเอกชน พร้อมของแจกมากมาย
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon3.png")
						p.text-center 
							b.head-text เคลียร์ชัดโดยกูรูแนะแนวชื่อดัง
						p.text-center.body-text เคลียร์ชัด รับตรง #DEK59 โดยกูรูแนะแนวชั้นนำระดับประเทศ พร้อมแนะแนวทางการศึกษา เพื่อเตรียมความพร้อมของน้องๆ ม.4 , ม.5
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon4.png")
						p.text-center 
							b.head-text พบปะรุ่นพี่ตัวจริงจากคณะสุดฮิต
						p.text-center.body-text พบปะใกล้ชิดแบบตัวต่อตัว กับรุ่นพี่คณะดัง จากมหาวิทยาลัยสงขลานครินทร์ พร้อมพบรุ่นพี่ดาว-เดือน มาพูดถึงประสบการณ์ตรงถึงงานที่เดียว!!!
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon5.png")
						p.text-center 
							b.head-text ทดสอบภาษาอังกฤษฟรีภายในงาน
						p.text-center.body-text วัดระดับภาษาอังกฤษ ว่าน้องๆอยู่ระดับไหน ไม่ต้องอาย ทุกความกล้า จะท้าให้น้องๆเก่ง สิทธิพิเศษเพียง 500 คนเท่านั้น ติดตามรายละเอียดเพิ่มเติมในเว็บไซต์ หรือที่ www.facebook.com/thebrightfan
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon6.png")
						p.text-center 
							b.head-text รับฟรีประกาศนียบัตรการอบรม
						p.text-center.body-text  พร้อมรับ “ประกาศนียบัตรการอบรม” ฟรีทุกคน เพื่อนำไปเป็นส่วนหนึ่งของแฟ้มรวบรวมผลงาน ( Portfolio ) ได้
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/activity-icons/activity-icon7.png")
						p.text-center 
							b.head-text ชมฟรีมินิคอนเสิร์ตจากซุปเปอร์สตาร์ชื่อดัง พร้อมชมฟรี
						p.text-center.body-text มินิคอนเสิร์ต จากซุปเปอร์สตาร์ชื่อดัง มาริโอ้ เมาเร่อ และ กัปตัน จากซีรีย์ดัง Lovesick พร้อมรับสิทธิ์ Meet & Greet อย่างใกล้ชิด ติดตามรายละเอียดได้ใน Facebook ได้เลย
		.row
			#edutainer.block.col-sm-12
				h1 The Bright Edutainer
				.row
					.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons1.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-eng.png")
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons2.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-math.png")					
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons3.png")						
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-bio.png")
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons4.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-physics.png")
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons5.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-chem.png")
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons6.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-bio.png")
				.row
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons7.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-social.png")
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons8.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-thai.png")
					.component.col-sm-4
						img.col-sm-12(src="/images/mobile/edutainer-icons/edu-icons9.png")
						img.tainner.hidden(src="/images/mobile/edutainer-icons/edu-gat.png")

					
		.row
			#register.block.col-sm-12
				h1
					.head-white.text-lg สมัครเรียน
				br
				form#register_form(method="post" action='/db/register')
						.form-group
							label คอร์สเรียน
							select.form-control(type="text" name="course")
								option(value="hatyai") เดอะไบร์ท ติว ติด มันส์ พลัส - หาดใหญ่
								option(value="khonkaen") เดอะไบร์ท ติว ติด มันส์ พลัส - ขอนแก่น
								option(value="phitsanulok") เดอะไบร์ท ติว ติด มันส์ พลัส - พิษณุโลก
						.form-group
							label เลขบัตรประจำตัวประชาชน
							input.form-control(type="text" name="id_card")
						.form-group
							label คำนำหน้า
							select.form-control(type="text" name="prefix")
								option(value="")
								option(value="นาย") นาย
								option(value="นางสาว") นางสาว
						.form-group
							label ชื่อ - นามสกุล
							input.form-control(type="text" name="full_name")
						.form-group
							label ชื่อเล่น
							input.form-control(type="text" name="nickname")
						.form-group
							label วันเกิด							
								input#datetimepicker1.form-control(type="text" name="birthday")
							i.fa.fa-calendar.fa-lg
						.form-group
							label โรงเรียน
							input.form-control(type="text" name="schoolname")
						.form-group
							label ชั้น
							select.form-control(type="text" name="class")
								option(value="")
								option(value="ม.4") ม.4
								option(value="ม.5") ม.5
								option(value="ม.6") ม.6
						.form-group
							label สาย
							select.form-control(type="text" name="program")
								option(value="")  
								option(value="สายวิทย์") สายวิทย์
								option(value="สานศิลป์") สายศิลป์
						.form-group
							label ที่อยู่ที่สามารถจัดส่งเอกสารได้
							textarea.form-control(type="text" name="address" rows="4" cols="50")
						.form-group
							label เบอร์โทรศัพท์(ที่สามารถติดต่อได้)
							input.form-control(type="text" name="mobile")									
						.form-group
							label อีเมล์
							input.form-control(type="email" name="email")
						.form-group
							label Facebook
							input.form-control(type="text" name="facebook")
						.form-group
							label Line
							input.form-control(type="text" name="line")						
						.form-group
							label ชื่อ-สกุล ผู้ปกครอง
							input.form-control(type="text" name="parents")
						.form-group
							label ความสัมพันธ์
							select.form-control(type="text" name="parents_relationship")
								option(value="")
								option(value="บิดา") บิดา
								option(value="มารดา") มารดา
								option(value="ญาติ") ญาติ
						.form-group
							label เบอร์โทรศัพท์ผู้ปกครอง
							input.form-control(type="text" name="parents_number")
				button#btn-register.btn.btn-success.pull-right.col-sm-12(type="button") ลงทะเบียนเรียน						
				button#btn-register-trick.btn.btn-success.pull-right.hidden(type="submit" form="register_form")									
		.row
			#accommodation.block.col-sm-12
				h1 ที่พักหาดใหญ่
				br
				#accommodation-slides.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators					
						li.active(data-target='#accommodation-slides', data-slide-to='0')
						li(data-target='#accommodation-slides', data-slide-to='1')
						li(data-target='#accommodation-slides', data-slide-to='2')
						li(data-target='#accommodation-slides', data-slide-to='3')
						li(data-target='#accommodation-slides', data-slide-to='4')
						li(data-target='#accommodation-slides', data-slide-to='5')
						li(data-target='#accommodation-slides', data-slide-to='6')
						li(data-target='#accommodation-slides', data-slide-to='7')
						li(data-target='#accommodation-slides', data-slide-to='8')
						li(data-target='#accommodation-slides', data-slide-to='9')
						li(data-target='#accommodation-slides', data-slide-to='10')
						li(data-target='#accommodation-slides', data-slide-to='11')
						li(data-target='#accommodation-slides', data-slide-to='12')
						li(data-target='#accommodation-slides', data-slide-to='13')
						li(data-target='#accommodation-slides', data-slide-to='14')
						li(data-target='#accommodation-slides', data-slide-to='15')
						li(data-target='#accommodation-slides', data-slide-to='16')
						li(data-target='#accommodation-slides', data-slide-to='17')
						li(data-target='#accommodation-slides', data-slide-to='18')
						li(data-target='#accommodation-slides', data-slide-to='19')
											
					// Wrapper for slides
					.carousel-inner(role='listbox')					
						.item.active
							img(src='/images/accommodations/IconTeepak01.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak02.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak03.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak04.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak05.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak06.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak07.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak08.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak09.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak10.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak11.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak12.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak13.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak14.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak15.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak16.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak17.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak18.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak19.jpg', alt='...')
						.item
							img(src='/images/accommodations/IconTeepak20.jpg', alt='...')
					// Controls
					a.left.carousel-control(href='#accommodation-slides', role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
						span.sr-only Previous
					a.right.carousel-control(href='#accommodation-slides', role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
						span.sr-only Next
		.row
			#maps.block.col-sm-12
				h1 THE BRIGHT ACADEMY HATYAI
				img.col-sm-12(src="/images/maps-large.jpg")
		.row
			#copyright.block.col-sm-12.text-center
				p &copy;ลิขสิทธิ์ 2015 สถาบันกวดวิชาเดอะไบร์ท
				p www.thebright.in.th
		.row
			.space

	#confirmModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header.bg-primary
					h4.modal-title การสมัครเสร็จสมบูรณ์
				.modal-body
					p ขอบคุณคะ การสมัครเรียนของคุณเสร็จสมบูรณ์
					p *กรุณาโอนชำระค่าเรียนภายใน 3 วันหลังจากสมัครเรียน มิฉะนั้นจะถือว่าการสมัครเป็นโมษะ จำเป็นต้องสมัครใหม่อีกครั้ง
					p *หลังการโอนชำระค่าเรียนเสร็จสิ้น จะต้องเข้าเว็บไซต์ ในเมนู "แจ้งฃำระเงิน" เพื่อกรอกข้อมูลให้ครบถ้วน พร้อมกดยืนยัน การสมัครจึงจะเสร็จสิ้นอย่างสมบูรณ์			
				.modal-footer
					button(type="button")#btn-confirm.btn.btn-primary ยืนยัน

	#whyModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					h1.modal-title 
				.modal-body
					p.text-center 
				.modal-footer
					button(type="button" data-dismiss="modal")#btn-close.btn.btn-primary ปิด
